$color-background: #203556;
$toggle-transition-time-long: .5s;
$toggle-transition-time-short: .3s;


.extensionContainer{
    position: fixed;
    z-index: 9999;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 100%;
    background: $color-background;
    opacity: 0.95;
    z-index: 9999;
    overflow-x: hidden;
    transition: $toggle-transition-time-long;
    
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0; /* Black background with opacity */
    z-index: 9000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    transition: opacity $toggle-transition-time-long;
  }