body {
  margin: 0px;
}

.extensionContainer {
  background-color: #36454f;
  width: 600px;
  height: 1000px;
}
.extensionContainer #app_name {
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
}

#searchContainer {
  display: grid;
  grid-template-columns: 30px, auto, 30px;
  grid-template-rows: 50px, auto, 50px, 50px;
}
#searchContainer #searchBox {
  background-color: white;
  background-image: url("../resources/iconfinder_icon-111-search_314478.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 30px;
  border-radius: 5px;
  border: none;
  width: 80%;
  height: 25px;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50px;
  z-index: 0;
}
#searchContainer #queue {
  width: 600px;
  position: fixed;
  top: 10%;
  text-align: center;
  color: white;
}
#searchContainer #controls {
  top: 90%;
  position: fixed;
  left: 30%;
}
#searchContainer #pause {
  background-image: url("../resources/pause-circle-outline-512.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}
#searchContainer #play {
  background-image: url("../resources/play-button.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}
#searchContainer #clearQueue {
  width: 75px;
}

#authContainer {
  display: grid;
  grid-gap: 0px 6px;
  grid-template-columns: 97px 97px;
  grid-template-rows: repeat(6, 30px) auto;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
#authContainer button {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  height: 20px;
}
#authContainer #showSignIn {
  grid-row: 2;
  grid-column: 1;
  background-color: lightskyblue;
  width: 94px;
  margin-left: 3px;
}
#authContainer #showSignUp {
  grid-row: 2;
  grid-column: 2;
  background-color: whitesmoke;
  width: 94px;
}
#authContainer #login {
  grid-row: 6;
  grid-column: 1;
  background-color: lightskyblue;
  width: 94px;
  margin-left: 3px;
}
#authContainer #signup {
  grid-row: 6;
  grid-column: 1;
  background-color: lightskyblue;
  width: 94px;
  margin-left: 3px;
}
#authContainer #logout {
  background-color: lightskyblue;
  width: 194px;
  margin-left: 3px;
}
#authContainer #cancel {
  grid-row: 6;
  grid-column: 2;
  background-color: whitesmoke;
  width: 94px;
}
#authContainer input {
  background-color: white;
  padding: 2px;
  border: none;
  margin: 3px;
  width: 188px;
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#authContainer #name {
  grid-row: 3;
  grid-column: 1;
}
#authContainer #email {
  grid-row: 4;
  grid-column: 1;
}
#authContainer #password {
  grid-row: 5;
  grid-column: 1;
}
#authContainer #msg {
  grid-row: 7;
  grid-column: 1;
  margin: 0;
  padding-left: 20px;
  padding-right: 6px;
  padding-bottom: 0px;
  padding-top: 6px;
  width: 188px;
  color: red;
  font-size: 14px;
}

#selectContainer #containerSelector {
  background-image: url("../resources/icons8-musical-notes-64.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  width: 15%;
  height: 20px;
  position: fixed;
  right: 3px;
  top: 10px;
  text-align: right;
}

#queueContainer {
  display: grid;
  grid-gap: 6px 6px;
  grid-template-rows: 10px 20px 20px auto 400px 20px 20px;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
#queueContainer button {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  height: 20px;
}
#queueContainer #newQueueBtn {
  width: 200px;
  grid-row: 2;
}
#queueContainer #undo {
  width: 200px;
  grid-row: 6;
  transform: translate(100px, 0);
}
#queueContainer #save {
  width: 200px;
  grid-row: 7;
  transform: translate(100px, 0);
}
#queueContainer input {
  background-color: white;
  padding: 2px;
  border: none;
  margin: 3px;
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#queueContainer #queueName {
  width: 200px;
  margin-bottom: 20px;
  transform: translate(100px, 0);
  grid-row: 2;
}
#queueContainer #videoSearch {
  width: 400px;
  grid-row: 3;
}
#queueContainer #searchError {
  color: red;
  grid-row: 4;
  font-size: 14px;
}
#queueContainer #curText {
  color: white;
  grid-row: 5;
  font-size: 14px;
}

/*# sourceMappingURL=popup.css.map */
