body {
  margin: 0px;
}

.extensionContainer {
  background-color: #36454f;
  width: 400px;
  height: 400px;
}
.extensionContainer #app_name {
  text-align: center;
  font-size: 180%;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
}

#searchContainer {
  display: grid;
  grid-template-columns: 30px, auto, 30px;
  grid-template-rows: 50px, auto, 50px, 50px;
}
#searchContainer #searchBox {
  background-color: white;
  background-image: url("../resources/iconfinder_icon-111-search_314478.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 30px;
  border-radius: 5px;
  border: none;
  width: 70%;
  height: 25px;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 10%;
  z-index: 2;
}
#searchContainer #thumbnail {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 26%;
}
#searchContainer #queue {
  top: 150px;
  width: 90%;
  position: fixed;
  transform: translate(5%, 0);
  text-align: center;
  color: white;
}
#searchContainer #controls {
  top: 90%;
  position: fixed;
  left: 36.5%;
  transform: translate(-12%, -50%);
  color: white;
}
#searchContainer #queueControls {
  top: 90%;
  position: fixed;
  left: 2%;
  border: none;
  transform: translate(90%, -50%);
  border-radius: 50%;
  z-index: 0;
}
#searchContainer #pause {
  background-image: url("../resources/iconfinder_button_grey_pause_50038.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #36454f;
}
#searchContainer #play {
  background-image: url("../resources/iconfinder_button_grey_play_50039.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #36454f;
}
#searchContainer #clearQueue {
  background: #dedbdb;
  background: radial-gradient(circle, #dedbdb 0%, #878787 87%, #62696a 100%);
  width: 42px;
  height: 42px;
  border: none;
  background-color: #C0C0C0;
  border-radius: 50%;
}
#searchContainer #nextSong {
  background-image: url("../resources/iconfinder_Button Next_58484.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #36454f;
}

#authContainer {
  display: grid;
  grid-gap: 0px 6px;
  grid-template-columns: 97px 97px;
  grid-template-rows: repeat(6, 30px) auto;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
#authContainer button {
  border-radius: 5px;
  padding: 0 0 0 0;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  height: 20px;
}
#authContainer #showSignIn {
  grid-row: 2;
  grid-column: 1;
  background-color: lightskyblue;
  width: 94px;
  margin-left: 3px;
}
#authContainer #showSignUp {
  grid-row: 2;
  grid-column: 2;
  background-color: whitesmoke;
  width: 94px;
}
#authContainer #login {
  grid-row: 6;
  grid-column: 1;
  background-color: lightskyblue;
  width: 94px;
  margin-left: 3px;
}
#authContainer #signup {
  grid-row: 6;
  grid-column: 1;
  background-color: lightskyblue;
  width: 94px;
  margin-left: 3px;
}
#authContainer #logout {
  grid-row: 3;
  background-color: lightskyblue;
  width: 194px;
  margin-left: 3px;
}
#authContainer #cancel {
  grid-row: 6;
  grid-column: 2;
  background-color: whitesmoke;
  width: 94px;
}
#authContainer input {
  background-color: white;
  padding: 2px;
  border: none;
  margin: 3px;
  width: 188px;
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#authContainer #name {
  grid-row: 3;
  grid-column: 1;
}
#authContainer #email {
  grid-row: 4;
  grid-column: 1;
}
#authContainer #password {
  grid-row: 5;
  grid-column: 1;
}
#authContainer #msg {
  grid-row: 7;
  grid-column: 1;
  margin: 0;
  padding-left: 20px;
  padding-right: 6px;
  padding-bottom: 0px;
  padding-top: 6px;
  width: 188px;
  color: red;
  font-size: 14px;
}

#selectContainer #containerSelector {
  background-image: url("../resources/icons8-musical-notes-64.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  width: 25%;
  height: 20px;
  position: fixed;
  right: 3px;
  top: 10px;
  text-align: right;
}

#queueContainer {
  display: grid;
  grid-template-rows: 20px 25px auto auto;
  grid-template-columns: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#queueContainer #searchError {
  color: white;
  font-size: 14px;
  text-align: center;
  grid-row: 4;
}
#queueContainer button {
  border-radius: 5px;
  height: 20px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  height: 20px;
  padding: 0 0 0 0;
}
#queueContainer button.videoNameBtn {
  width: 100%;
  height: 15px;
  color: #ffffff;
  background-color: #36454f;
}
#queueContainer #newQueueBtn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  grid-row: 2;
}
#queueContainer #undo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  grid-row: 6;
}
#queueContainer #save {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  grid-row: 7;
}
#queueContainer #queueNameBtn {
  width: 100%;
  color: #ffffff;
  background-color: #36454f;
  height: 15px;
  padding: 0 0 0 0;
}
#queueContainer input {
  border-radius: 5px;
  height: 25px;
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#queueContainer #queueName {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
  padding: 0px 0px 0px 10px;
  width: 200px;
  grid-row: 2;
}
#queueContainer #videoSearch {
  background-color: white;
  background-image: url("../resources/iconfinder_icon-111-search_314478.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 30px;
  width: 80%;
  grid-row: 3;
}
#queueContainer #searchError {
  color: red;
  grid-row: 4;
  font-size: 14px;
}
#queueContainer #curText {
  align-self: top;
  color: white;
  grid-row: 3;
  font-size: 14px;
  vertical-align: top;
  height: 250px;
}

a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

#menuToggle {
  /* display: block; */
  position: relative;
  top: 4px;
  left: 5px;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 3;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 2;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 150px;
  height: 269.5px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

/*# sourceMappingURL=popup.css.map */
