$start-row: 3;
$show-row: 2;
$num-rows: $start-row + 4;
$row-height: 30px;

#authContainer {
  display: grid;
  grid-gap: 0px 6px;
  grid-template-columns: 97px 97px;
  grid-template-rows: repeat($num-rows - 1, $row-height) auto;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  button {
    border-radius: 5px;
    padding: 0 0 0 0;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    height: 20px;
  }

  #showSignIn {
    grid-row: $show-row;
    grid-column: 1;
    background-color: lightskyblue;
    width: 94px;
    margin-left: 3px;
  }

  #showSignUp {
    grid-row: $show-row;
    grid-column: 2;
    background-color: whitesmoke;
    width: 94px;
  }

  #login {
    grid-row: $start-row + 3;
    grid-column: 1;
    background-color: lightskyblue;
    width: 94px;
    margin-left: 3px;
  }

  #signup {
    grid-row: $start-row + 3;
    grid-column: 1;
    background-color: lightskyblue;
    width: 94px;
    margin-left: 3px;
  }

  #logout {
    grid-row: $start-row;
    background-color: lightskyblue;
    width: 194px;
    margin-left: 3px;
  }

  #cancel {
    grid-row: $start-row + 3;
    grid-column: 2;
    background-color: whitesmoke;
    width: 94px;
  }

  input {
    background-color: white;
    padding: 2px;
    border: none;
    margin: 3px;
    width: 188px;
    color: black;
    text-decoration: none;
    font-size: 14px;
  }

  #name {
    grid-row: $start-row;
    grid-column: 1;
  }

  #email {
    grid-row: $start-row + 1;
    grid-column: 1;
  }

  #password {
    grid-row: $start-row + 2;
    grid-column: 1;
  }

  #msg {
    grid-row: $num-rows;
    grid-column: 1;
    margin: 0;
    padding-left: 20px;
    padding-right: 6px;
    padding-bottom: 0px;
    padding-top: 6px;
    width: 188px;
    color: red;
    font-size: 14px;
  }
}
