#searchContainer{
    display: grid;
    grid-template-columns: 30px, auto, 30px;
    grid-template-rows: 50px, auto, 50px, 50px;

    #searchBox{
      background-color: white;
      background-image: url('../resources/iconfinder_icon-111-search_314478.png');
      background-size: contain;
      background-repeat: no-repeat;
      padding: 0px 0px 0px 30px;

      border-radius: 5px;
      border: none;
      width: 70%;
      height: 25px;
      position: fixed;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 10%;
      z-index: 2;

    }

    #thumbnail {
        position: fixed;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 26%;
    }

    #queue {
        top: 150px;
        width: 90%;
        position: fixed;
        transform: translate(5%, 0);
        text-align: center;
        color: white;
    }

    #controls {
        top: 90%;
        position: fixed;
        left: 36.5%;
        transform: translate(-12%, -50%);
        color: white;
        
    }

    #queueControls{
        top: 90%;
        position: fixed;
        left: 2%;
        border: none;
        
        transform: translate(90%, -50%);
        border-radius: 50%;
        z-index: 0;
    }

    #pause {
        background-image: url('../resources/iconfinder_button_grey_pause_50038.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #36454f;
        
    }

    #play {
        background-image: url('../resources/iconfinder_button_grey_play_50039.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #36454f;
    }

    #clearQueue {
        background: rgb(222,219,219);
        background: radial-gradient(circle, rgba(222,219,219,1) 0%, rgba(135,135,135,1) 87%, rgba(98,105,106,1) 100%);
        width: 42px;
        height: 42px;
        border: none;
        background-color: 	#C0C0C0;
        border-radius: 50%;
        
        
    }

    #nextSong {
        background-image: url('../resources/iconfinder_Button\ Next_58484.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #36454f;
    }
}

