#searchContainer{
    display: grid;
    grid-template-columns: 30px, auto, 30px;
    grid-template-rows: 50px, auto, 50px, 50px;

    #searchBox{
      background-color: white;
      background-image: url('../resources/iconfinder_icon-111-search_314478.png');
      background-size: contain;
      background-repeat: no-repeat;
      padding: 0px 0px 0px 30px;

      border-radius: 5px;
      border: none;
      width: 80%;
      height: 25px;
      position: fixed;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50px;
      z-index: 0;

    }

    #queue {
      grid-row: 2;
        width: 90%;
        position: fixed;
        transform: translate(100%, 0);
        text-align: center;
        color: white;
    }

    #controls {
        top: 90%;
        position: fixed;
        left: 36.5%;
        transform: translate(-12%, -50%);
        color: white;
        
    }

    #queueControls{
        top: 90%;
        position: fixed;
        left: 2%;
        border: none;
        background-color: #36454f;
        transform: translate(90%, -50%);
    }

    #pause {
        background-image: url('../resources/pause-circle-outline-512.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #36454f;
        
    }

    #play {
        background-image: url('../resources/play-button.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #36454f;
    }

    #clearQueue {
        color: white;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #36454f;
        
    }

    #nextSong {
        background-image: url('../resources/next-song.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #36454f;
    }
}

