#searchContainer{
    display: grid;
    grid-template-columns: 30px, auto, 30px;
    grid-template-rows: 50px, auto, 50px, 50px;

    #searchBox{
      background-color: white;
      background-image: url('../resources/iconfinder_icon-111-search_314478.png');
      background-size: contain;
      background-repeat: no-repeat;
      padding: 0px 0px 0px 30px;

      border-radius: 5px;
      border: none;
      width: 80%;
      height: 25px;
      position: fixed;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50px;
      z-index: 0;

    }

    #queue {
        width: 600px;
        position: fixed;
        top: 60%;
        text-align: center;
        color: white;
    }
}