#selectContainer{

  #containerSelector{
    background-image: url('../resources/icons8-musical-notes-64.png');
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 5px;
    width: 25%;
    height: 20px;
    position: fixed;
    right: 3px;
    top: 10px;

    text-align: right;
  }

}