$background-dark: #36454f;
$text-light: #ffffff;
$window-height: 1000px;
$window-width: 600px;


body{
    margin: 0px;
}

.extensionContainer{
    background-color: $background-dark;
    width: $window-width;
    height: $window-height;

    
    #app_name{
        text-align: center;
        margin: 0 auto;
        color: $text-light;
        font-family: 'Exo 2', sans-serif;
    }
}


@import 'search';
@import 'authContainer';
@import 'selectContainer';
@import 'queueContainer';

